[tmdb]
tmdbapikey = f336e257ba17fa70ce97d450ee0a8baf
tmdblanguage = en

[radarr]
radarrhosturl = http://p2-plexseed1.mypetrone.com:7878/radarr
radarrapikey = d233dbc130d74675bf0264b15dd621bc

[bot]
botprefix = ?
bottoken = ULeuSgmIOgwiBQBqi-QbUKfIDHM6c_2z
botchannel = plexnewreleases

[general]
monthsaheadtocheck = 6